.boxTitle {
    text-decoration: underline;
    font-weight: bold;
}

.groupBox {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    height: 6.5em;
    padding: 10px;
}

.floatBox {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    padding: 10px;
    margin: 0px 10px;
}

.firstRow {
    height: 14em;
}

.secondRow {
    height: 17em;
}

div[class^="col"] {
    padding: 0px;
}

textarea {
    resize: none;
}

.row {
    margin: .5em 0px;
}